.fullBanner {
    width: 100%;
    position: relative;
    margin-bottom: 2.25rem;

    .bannerImage {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }

    a {
        display: block;
        cursor: pointer;
    }

    picture {
        display: block;
    }

    :global(.swiper-button-next) {
        height: 3rem;
        width: 3rem;
        border-radius: 9999px;
        display: flex;
        align-items: center;
        background-color: transparent;
        justify-content: center;
        background-image: linear-gradient(135deg, rgb(255 255 255 / 55%) 0%, rgb(0 0 0 / 9%) 100%), linear-gradient(var(--glass-reflex-degree, 100deg), rgb(255 255 255 / var(--glass-reflex-opacity, 10%)) 25%, rgba(0, 0, 0, 0) 25%);

        @media(min-width: 769px) {
            margin-right: 2% !important;
        }

        &:hover {
            background-color: #d1d1d1;
        }

        :global(.swiper-navigation-icon) {
            content: "";
            display: block;
            width: 26px;
            height: 26px;
            background-color: transparent;
            color: transparent;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='white' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' d='M11.057 7.05721C11.5777 6.53651 12.4219 6.53651 12.9426 7.05721L20.9426 15.0572C21.4633 15.5779 21.4633 16.4221 20.9426 16.9428L12.9426 24.9428C12.4219 25.4635 11.5777 25.4635 11.057 24.9428C10.5363 24.4221 10.5363 23.5779 11.057 23.0572L18.1142 16L11.057 8.94283C10.5363 8.42213 10.5363 7.57791 11.057 7.05721Z'%3e%3c/path%3e%3c/svg%3e");
        }
    }

    :global(.swiper-button-prev) {
        height: 3rem;
        width: 3rem;
        border-radius: 9999px;
        display: flex;
        align-items: center;
        background-color: transparent;
        justify-content: center;
        background-image: linear-gradient(135deg, rgb(255 255 255 / 55%) 0%, rgb(0 0 0 / 9%) 100%), linear-gradient(var(--glass-reflex-degree, 100deg), rgb(255 255 255 / var(--glass-reflex-opacity, 10%)) 25%, rgba(0, 0, 0, 0) 25%);

        @media(min-width: 769px) {
            margin-left: 2% !important;
        }

        &:hover {
            background-color: #d1d1d1;
        }

        :global(.swiper-navigation-icon) {
            content: "";
            display: block;
            width: 26px;
            height: 26px;
            background-color: transparent;
            color: transparent;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='white' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' d='M11.057 7.05721C11.5777 6.53651 12.4219 6.53651 12.9426 7.05721L20.9426 15.0572C21.4633 15.5779 21.4633 16.4221 20.9426 16.9428L12.9426 24.9428C12.4219 25.4635 11.5777 25.4635 11.057 24.9428C10.5363 24.4221 10.5363 23.5779 11.057 23.0572L18.1142 16L11.057 8.94283C10.5363 8.42213 10.5363 7.57791 11.057 7.05721Z'%3e%3c/path%3e%3c/svg%3e");
        }
    }
}